:root {
  --primary-text-color: #1D0E02;
}
body {
  background-color: #FFF7EC;
  color: var(--primary-text-color);
}
.navbar {
  background-color: #FFF7EC;
}
.navbar-brand, .nav-link {
  color: var(--primary-text-color) !important;
}
.carousel, .carousel-inner {
  height: 100%;
}
.carousel-inner .c-item {
  height: 400px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.carousel-caption {
  margin-top: 160px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
footer a {
  color: #fff !important;
}
a {
  color: var(--primary-text-color);
}
a:hover {
  color: #3b2a0a;
}

/* menu card styling */
.card {
  height: 500px;
  display: flex;
  flex-direction: column;
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}
.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .carousel-inner .c-item {
    height: 500px;
  }
}